<h1>Review OAuth Proof of concept</h1>
<p>This is a proof of concept for the "sign in with review" button.</p>

<h2>TODO</h2>
<ol>
<li>Oauth handshake</li>
<li>Link user id to app</li>
<li>API endpoint for pulling user profile</li>
<li>Known profile</li>
</ol>