<h1>OAuth app</h1>
<p><strong>App name: </strong> <%= @oauthapp.title %></p> 
<p><strong>Public Key: </strong> <%= @oauthapp.pubkey %></p> 
<p><strong>Secret: </strong> <%= @oauthapp.secret %></p> 

<hr>
<p><strong>Auth URL: </strong> /oauth2/authorise</p>
<p><strong>Token URL: </strong> /oauth2/token</p>
<p><strong>Owner resource URL: </strong> /demoapi/user</p>